{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "voting-app.fullname" . }}-postgres-config
  labels:
    {{- include "voting-app.labels" . | nindent 4 }}
    app: postgres
data:
  01-init.sql: |
    CREATE TABLE IF NOT EXISTS votes (
      id VARCHAR(255) NOT NULL UNIQUE,
      vote VARCHAR(255) NOT NULL
    );
{{- end }}
